
body {
    background-color: $grey--light;
    @include museo-sans(regular);
    color: $black;
}

.brand {
    background-color: $brand;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

}

h1 {
    margin: 0;
    margin-bottom: 30px;
}

.button {
    outline: none;
}

.card {
    padding: 15px;
    margin: 15px;
    background-color: $white;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
}
