
body {
    background-color: $grey--light;
    @include museo-sans(regular);
    color: $black;
}

.brand {
    background-color: $brand;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

}

h1 {
    margin: 0;
    margin-bottom: 30px;
}

.button {
    outline: none;
}

.page-404 {
    text-align: center;
}
