
.button {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    border: none;

    a {
        font-size: 14px;
        display: block;
        width: 100%;
        height: 100%;
        cursor: default;
        @include museo-sans(regular);
        &:hover {
            text-decoration: none;
        }
    }

    &.small {
        padding: 10px 0;
        font-size: 12px;
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;

        a {
            font-size: 12px;
        }
    }

    &.medium {
        padding: 12px 0;
    }

    &.big {
        a {
            padding: 15px 0;
        }
    }

    &.brand {
        background-color: $brand;
        color: $white;
        a {
            color: $white
        }
    }

    &.white {
        background-color: $white;
    }

    &.route-button {
        max-width: 80%;
    }

    @include respond-to(medium) {
        width: 30%;

        &.small {
            font-size: 14px;
            a {
                font-size: 14px;
            }
        }

    }

    @include respond-to(large) {
        // width: 300px;

        a {
            font-size: 16px;
            
        }
    }

}
