
.card-page {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include respond-to(small) {
        .card {
            width: 400px;
            margin: 20px auto;
        }
    }
    
    @include respond-to(medium) {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}
