
.dashboard-component {

    header {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            margin-top: 0;
            font-size: 18px;
        }
    }

    .add-buttons {
        display: flex;

        &:nth-child(2) {

            .button {
                margin-left: 15px;
            }
        }
    }

    @include respond-to(medium) {
        header {
            h2 {
                font-size: 25px;
            }
        }
    }

    @include respond-to(large) {
        flex: 3;
        margin: 0;
        margin-left: 15px;
    }

}
