
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content
        }
    }
};

@mixin placeholder-color($color: $grey--light) {
    &::-webkit-input-placeholder {
      color: $color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $color;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $color;
    }
};
